{%extends "base.html.twig"%}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/pdv.js') }}"></script>  
{%endblock%}
{% block body %}


    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form method="POST" id="find-produto" action="{{ path('produto_find')}}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                        <input name="produto" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-triangle-right"></span></button>
                        </span>
                    </div>
                </form>
                <hr>
                <div id="alerta-produto" class="alert alert-warning hide" role="alert">
                    <strong> Produto não encontrado </strong>
                </div>
                <div class="thumbnail hide" id="produto">
                    <img class="imagem" src="..." alt="..." width="150" height="150">
                    <div class="caption">
                        <h3 class="nome">Nome do Produto</h3>
                        <p>Preço Unitário: R$ <span class="preco"> 123,77</span></p>
                        <p>Marca: <span class="marca"> Hering</span></p>
                        <p>Tamanho: <span class="tamanho"> P</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div id="lista-produtos" class="panel panel-primary">
            <div class="panel-heading">Total a Pagar:<span class="pull-right total-pagar">$0,00</span></div>
            <div class="panel-body">
                <ol class="listagem">

                </ol>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#estornar">Estornar Produto</button>
                <button type="button" class="btn btn-primary">Finalizar Compra</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelar">Cancelar Compra</button>

            </div>
        </div>
    </div>

    <div id="cancelar" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cancelar Compra</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        <h3 class="glyphicon glyphicon-warning-sign"></h3> Tem certeza que desja cancelar a compra?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Não</button>
                    <a href="{{ path('caixa_cancelar')}}" type="button" class="btn btn-danger">Sim</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="estornar" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form id="form-estorno" action="/caixa/estorno">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Estornar Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Item No.:</label>
                            <input type="text" class="form-control" name="item-numero" id="item-numero" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Não</button>
                        <button type="sumbit" class="btn btn-danger">Sim</button>
                        
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{%endblock%}

{% block stylesheets %}
    <style>
        .total-pagar{

            font-size: 16pt;
            font-weight: bold;
        }
    </style>
{%endblock%}